name: remote git pull
on:

  push:
    branches:
      - v3
defaults:
  run:
    working-directory: /home/ambu/ambu/

jobs:
  build:
    name: Build
    runs-on: self-hosted
    steps:
      - run: git pull
